@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url(/images/790189.jpg);
	background-color: rgba(0, 0, 0, 0.4);
	background-size: cover;
	background-blend-mode: hue;
	background-attachment: fixed;
}

.container {
	width: 95%;
	margin: 0 auto;
}

header {
	background-color: rgba(153, 44, 211, 0.787);
}

.header {
	display: flex;
	padding: 10px 0;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	gap: 60px;
	font-size: 30px;
	list-style: none;
	margin-top: 10px;
}

.header-nav li a {
	box-shadow: -3px 18px 50px 12px rgba(0, 0, 0, 0.3);
	text-decoration: none;
	color: #000000;
	font-size: 19px;
}

#info {
	background-color: #0f0e10b6;
	padding: 7px;
	border-radius: 4px;
	color: #ffffff;
}

#info:hover {
	background-color: #b799c0d4;
	padding: 10px;
	border-radius: 4px;
	transition: 0.3s all;
}

.header-colors {
	background-color: #ffffffc9;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
}

.logo img {
	margin-top: 7px;
	width: 40px;
	height: 30px;
	transition: 0.3s all;
}

.logo img:hover {
	background-color: #6a2804;
	border-radius: 20px;
}

#cookie-p {
	font-family: 'Times New Roman', Times, serif;
}

.logo {
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px;
	box-shadow: -3px 18px 50px 12px rgba(0, 0, 0, 0.3);
}

main {
	width: 700px;
	margin-top: 200px;
	color: #ffffff;
}

main h1 {
	font-size: 40px;
}

span {
	color: #5900ff;
	transition: 0.3s all;
	font-size: 40px;
}

span:hover {
	color: rgb(71, 26, 205);
}